.max-width {
	margin: 0 auto;
	max-width:  1400px;
}

h1 {
	font-size: 80px;
	font-weight: 500;
}

h2 {
	font-size: 70px;
	font-weight: 500;
	max-width: 50%;
}

h3 {
	font-size: 70px;
	font-weight: 400;
}

p {
	font-weight: 300;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
}

button {
	padding: 20px 35px;
	border-radius: 40px;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

header {
	background-color: #feffba;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	height: 96px;
}

header button {
	background-color: #ffff;
}

header img {
	height: 30px;
	width: auto;
}

nav ul {
	display: flex;
	gap: 20px;
}

nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
	color: black;
	font-weight: 500;
	font-size: 18px;
}

header.scrolled {
	background-color: transparent;
}

.shopping {
	display: flex;
	gap: 20px;
	align-items: center;
}

.shopping img {
	height: 20px;
}

.shopping button {
	padding: 20px 20px;
	font-size: 15px;
}

.checkout {
	display: flex;
	align-items: center;
	gap: 20px;
}

.navbar.responsive {
	display: flex;
	justify-content: space-between;
}

.icon img {
	width: 20px;
	height: auto;
	background-color: #242424;
}

.navbar.responsive .navbar-logo {
	display: flex;
	position: absolute;
	z-index: 2;
	top: 0px; 
	left: 0;
	padding: 30px;
}

.navbar.responsive ul{
	display: grid;
	padding-top: 90px;
}

header .icon{
	display: flex;
}

.number {
	background-color: red;
	width: 18px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	color: #ffff;
	font-size: 15px;
	padding: 1px;
} 

.arrow {
  border: solid gray ;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.icon {
	display: none;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.image {
	opacity: 0;
	transform: scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
.image {
	transition: opacity 1.5s ease, transform 1.5s ease;
}
}

.image-transition {
	opacity: 1;
	transform: none;
}


.hero-container {
	background-color: #feffba;
	padding: 0 50px;
}

.hero-wrapper {
	background-color: #dbf7cb;
	display: flex;
	padding: 100px 50px;
	border-radius: 40px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.hero-wrapper h1 {
	max-width: 800px;
	line-height: 70px;
	flex-wrap: wrap;
}

.hero-wrapper button {
	background-color: #ffe595;
	margin-top: 50px;
}

.hero-wrapper img {
	height: 500px;
	animation-name: image-text;
	animation-duration: 1s;
}

.hero-wrapper li {
	font-size: 20px;
	margin-left: 20px;
	font-size: 25px;
}

.hero-wrapper h1 {
	margin: 20px 0;
	z-index: 2;
}

.circle  {
	background-image: url("src/images/circle.svg");
	text-decoration: none;
	background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.points {
	background-image: url("src/images/points.svg");
	background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 1.2rem;
  padding-right: 1.5rem;
  display: inline-block;
}

.hero-divider {
	height: 120px;
	background-color: #feffba;
	border-bottom-left-radius: 60%;
	border-bottom-right-radius: 60%;
}

.value {
	padding: 100px 0;
}

.value-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
}

.value-wrapper {
	max-width: 190px;
	padding-bottom: 30px;
	flex-wrap: wrap;
}

.value-wrapper h3 {
	margin: 0;
	font-weight: 500;
}

.value-wrapper h4, p {
	font-size: 20px; 
	margin: 10px 0;
}

.value-wrapper p {
	color: #717083;
}

.transform {
	background-color: #d4f4fc;
	display: flex;
	padding: 100px 10px;
	border-radius: 40px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.transform img {
	padding: 80px 10px;
	background-color: #b3dff5;
	border-top-right-radius: 45%;
	border-top-left-radius: 45%;
	border-bottom-left-radius: 45%;
	border-bottom-right-radius: 45%;
	width: 50%;
	animation-name: image-text;
	animation-duration: 1.5s;
}

.transform h3 {
	line-height: 70px;
}

.transform s {
	text-decoration: none;
	border: red 5px solid;
	border-radius: 100%;
	padding: 12px;
}

.transform li {
	font-size: 25px;
	margin-left: 20px;
}

.transform-wrapper h3 {
	margin: 20px 0;
	font-weight: 500;
	font-size: 60px;
}

.transform-wrapper button {
	background-color: #feffba;
	margin-top: 40px;
}

.design-block {
	width: 50%;
	width: 100%;
}

.design-container, .design-container-last-child {
	display: flex;
	padding: 50px 0;
	align-items: center;
}

.design-image {
	width: 50%;
	padding: 20px;
	border-radius: 40px;
}

.design-image:first-child {
	background-color: #e6e0fc;
}

.design-image:last-child {
	background-color: #d4f4fc;
}

.design-image img {
	width: 100%;
	animation-name: image-text;
	animation-duration: 1.5s;
}

.design-wrapper {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.design-wrapper li {
	font-size: 20px;
	margin-left: 20px;
}

.design-wrapper h3 {
	font-weight: 500;
	font-size: 35px;
	margin: 30px 0;
	line-height: 53px;
	max-width: 250px;
}

.design-wrapper button {
	background-color: #dbf7cb;
}

.creativity-divider {
	background-color: #f5f5f5;
	height: 200px;
	border-top-right-radius: 100%;
	border-top-left-radius: 100%;
	margin-top: 50px;
}

.background-color {
	background-color: #f5f5f5;
}

.creativity-container {
	display: flex;
	background-color: #f5f5f5;
	align-items: center;
	margin-bottom: 100px;
}

.creativity-image {
	width: 47%;
	background-color: #e6e0fc;
	padding: 20px;
	border-radius: 40px;
}

.creativity-image img {
	width: 100%;
	animation-name: image-text;
	animation-duration: 1.5s;
}

.creativity-wrapper {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.creativity-wrapper h3 {
	max-width: 600px;
	font-weight: 500;
	font-size: 70px !important;
	line-height: 84px !important;
	margin: 30px auto;
}

.ster {
	background-image: url("src/images/paarse-ster.svg");
	background-position: 50% 28%;
  background-repeat: no-repeat;
  background-size: 50%;
  padding-right: 45px;
}


.pijl {
	background-image: url("src/images/pijltje.svg");
	background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 1.8em;
}

.creativity-wrapper s {
	text-decoration: none;
	margin-right: 120px;
}	

.creativity-wrapper button {
	background-color: #e8e4fc;
	margin-top: 30px;
}

.companies-container {
	background-color: #d4f4fc;
	display: flex;
	justify-content: space-between;
	padding: 60px 20px;
	border-radius: 20px;
}

.companies-container h3 {
	width: 480px;
	font-size: 40px;
	margin: 0;
	font-weight: 500;
}

.company-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.company-image {
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 12px;
	margin: 5px;
	padding: 0 30px;
}

.company-image img{
	height: 25px;
}

.spark-container {
	display: flex;
	align-items: center;
	margin-top: 100px;
	gap: 20px;
}

.spark-image {
	width: 50%;
	background-color: #e6e0fc;
	padding: 40px 20px;
	border-radius: 20px;
}

.spark-image img {
	width: 100%;
	max-height: 500px;
	object-fit: contain;
}

.spark-wrapper {
	width: 50%;
	background-color: white;
	padding: 70px 40px;
	border-radius: 20px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.spark-wrapper h3 {
	max-width: 500px;
	font-size: 35px;
	font-weight: 500px;
}

.spark-wrapper button {
	background-color: #e8e4fc;
} 

.spark-wrapper img {
	background-color: white;
	height: 40px;
	padding: 0;
	padding-bottom: 20px;
}

.spark-wrapper h3, p {
	margin: 0 !important;
}

.spark-message {
	padding: 0 50px;
}

.spark-content {
	margin-bottom: 20px;
}

.stars {
	margin-bottom: 20px;
}

.stars img{
	height: 20px;
}

.spark-person-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.spark-person-container img:first-child {
	border-radius: 50%;
	padding: 0;
	height: 70px;
	width: 70px;
}

.spark-person-container img:last-child {
	padding: 0;		
}

.spark-person-content {
	display: flex;
	align-items: center;
}

.spark-person-content h4, p {
	margin: 0;
	margin-left: 40px;
}

.spark-person-content p {
	margin-left: 40px !important;
	font-size: 15px;
}

.events-container {
	display: flex;
	flex-direction: column;
}

.events-container h3:first-child {
	margin: 100px auto;
	justify-content: center;
	font-size: 40px;
	font-weight: 500;
}

.events-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
	flex-wrap: wrap;
}

.events-content {
	max-width: 280px;
	margin: 0 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.events-content img {
	height: 200px;
	width: 100%;
	border-radius: 40px;
	object-fit: cover;
}

.events-content h3{
	color: red;
	font-size: 15px;
	margin: 5px 0;
	width: 100%;
}

.events-content p {
	flex-wrap: wrap;
}

.forum {
	background-color: #e6e0fc;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 60px 20px;
	border-radius: 40px;
}

.forum h3 {
	margin: 5px 0;
	font-size: 50px;
}

.forum p {
	margin-bottom: 40px !important;
	max-width: 700px;
	text-align: center;
}

.forum input[type='text'],
.forum input[type='email'] {
	padding: 10px 30px;
	border-radius: 40px;
	border: none;
	font-size: 20px;
}

.forum button {
	background-color: #ff715b;
	color: white;
}

.forum input[type='text'],
.forum input[type='email'],
.forum button {
	font-size: 15px;
}

.forum-wrapper {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

.disclaimer {
	margin-top: 50px;
}

.disclaimer p {
	font-size: 15px;
}

footer {
	margin: 0 auto;
	background-color: #f5f5f5;
}

.footer-container {
	margin: 0 auto;
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-content {
	width: 400px;
}

.footer-content p {
	margin: 20px 0 !important;
}

.footer-content img {
	height: 30px;
	margin-bottom: 10px;
}

.footer-email {
	background-color: white;
	border-radius: 40px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
}

.footer-email  input[type='email'] {
	padding: 20px 40px;
	border-radius: 40px;
	border: none;
	width: 200px;
	font-size: 15px;
}

.footer-email button {
	background-color: #ff715b;
	color: white;
	border-radius: 50%;
	padding: 10px;
}

.span-email::before {
	content: "\2192";
	color: #ffffff;	
}

.footer-list-container {
	display: flex;
	padding: 20px;
	justify-content: space-between;
}

.footer-list ul, li:first-child {
	font-weight: 500;
	color: black !important;
	cursor: text !important;
}

.footer-list li {
	font-size: 16px;
	padding-top: 10px;
	list-style: none;
	cursor: pointer;
	color: #717083;
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
	align-items: center;
	margin: 0 auto;
}

.copyright-text {
	display: flex;
	gap: 20px;
}

.copyright-text p {
	font-size: 13px;
}

.copyright-text s{
	text-decoration: none;
	color: #717083;
	cursor: pointer;
}

.copyright s:hover {
	color: #ffffff;
}

.social-media {
	display: flex;
	gap: 50px;
}

.social-media img {
	height: 15px;
}

@media screen and (max-width:1000px) {

	h1 {
		font-size: 50px;
		line-height: 50px !important;
	}
	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 40px !important;
		line-height: 40px !important;
	}

	
	header{
		position: sticky;
		top: 0px;
		padding: 0;
	}

	.navbar-width {
		width: 80%;
		margin: auto;
	}

	header img {
		padding: 0 60px;
		justify-content: left !important;
	}

	.navbar button {
		display: none;
	}

	.navbar.responsive button {
		display: flex;
		position: absolute;
		width: 95%;
		background-color: #f5f5f5;
		top: 350px;
		right: 10px;
	}

	.icon  {
		width: 20px;
		height: auto;
		background-color: #9800fd;
		}

	.navbar.responsive .navbar-logo {
		display: flex;
		position: absolute;
		z-index: 2;
		top: 0px; 
		left: 0;
		padding: 30px;
	}
	
	.navbar ul {
		display: none;
		position: absolute;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	
	.navbar.responsive nav {
		position:	absolute;
		top: 80px;
		width: 100%;
	}

	.navbar.responsive ul{
		width: 100%;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		padding: 40px 0;
		padding-bottom: 100px;
	}

	.navbar.responsive li {
		padding-left: 40px;
	}

	header .icon{
		display: flex;
		z-index: 1;
		font-size: 24px;
		right: 50px;
		top: 15px;
		width: 20px;
		height: 20px;
		background-color: #9b06ff;
		padding: 10px;
		border-radius: 50%;
	}

	.shopping {
		gap: 20px;
		padding-right: 45px;
	}

	.shopping img {
		padding: 0;
	}

	.hero-container {
		padding: 40px;
	}

	.hero-wrapper {
		flex-direction: column-reverse;
	}

	.hero-wrapper img {
		width: 100%;
		height: auto;
	}

	.hero-divider {
		height: 0;
	}

	.transform{
			flex-direction: column-reverse;
			padding: 100px 20px;
	}
	
	.transform img {
		width: 100%;
		height: auto;
	}

	.transform li {
		font-size: 20px;
		margin-left: 20px;
	}

	.transform-wrapper {
		width: 100%;
	}

	.design-container {
		flex-direction: column-reverse;
	}

	.design-container-last-child {
		flex-direction: column;
	}
	
	.design-image {
		display: flex;
		padding: 80px 20px;
		border-radius: 40px;
		width: 100%;
	}
	
	.design-wrapper {
		width: 100% !important;
		display: unset;
		margin-bottom: 60px;
	}

	.design-wrapper h3 {
		max-width: unset;
	}

	.creativity-divider {
		height: 0;
	}

	.creativity-container {
		flex-direction: column-reverse;
	}

	.creativity-image {
		width: 100% !important;
	}

	.creativity-wrapper {
		width: 100%;
	}

	.creativity-wrapper h3 {
		line-height: 70px !important;
	}

	.creativity-wrapper button {
		margin: 0;
	}	

	.companies-container {
		flex-direction: column;
		padding: 0px 20px;
		padding-bottom: 40px;
	}

	.companies-container h3 {
		width: 100%;
		text-align: center;
		padding: 40px 0;
	}

	.company-image {
		height: 100px;
		padding: 0 10px;
	}

	.spark-container {
		flex-direction: column;
	}
	.spark-image {
		width: 100%;
		max-height: none;
	}

	.spark-image img {
		max-height: none;
	}

	.spark-wrapper {
		width: 100% !important;
		padding: 20px !important;
	}

	.events-wrapper {
		justify-content: center;
	}

	.events-content h3 {
		font-size: 15px !important;
	}

	.events-content {
		margin-bottom: 40px;
	}

	.forum-wrapper {
		flex-direction: column;
	}

	.forum h3 {
		text-align: center;
	}

	.footer-container {
		flex-direction: column;
	}

	.footer-content {
		width: 100%;
	}

	.footer-list-container {
		flex-wrap: wrap;
		width: 100%;
		gap: 20px;
	}

	.footer-list li{
		text-align: center;
	}

	.copyright {
		flex-direction: column-reverse;
		padding: 50px 0;
	}
	.social-media {
		padding-bottom: 40px;
	}
}

@media screen and (max-width:768px) {
	.company-wrapper {
		grid-template-columns: 1fr 1fr;
	}
	.spark-person-container img:last-child{
		justify-content: center;
		display: flex;
	}
}

@media screen and (max-width:450px) {
	.company-wrapper {
		grid-template-columns: 1fr;
	}
	.creativity-wrapper h3 {
		font-size: 40px !important;
		line-height: 40px !important;
	}
}

@media screen and (max-width:450px) {
	.value-wrapper p {
		font-size: 15px;
	}
}